
@media (min-width: 600px) {
    .toggler {
        display: none;
    }
}
@media (max-width: 600px) {
    /* global css  */
    .container {
        width: 100%;
    }

    .mt-100 {
        margin-top: 24px;
    }

    .mt-24 {
        margin-top: 16px;
    }
    
    main {
        padding: 0px 20px;
    }

    h2 {
        font-size: 20px !important;
        font-weight: 800 !important;
    }
    /* global css end */
    /* header css  */
    header {
        padding: 18px 20px;
    }

    header .logo img {
        height: 33.516px;
    }

    header nav {
        display: none;
    }

    header .logo a {
        font-size: 21.543px;
    }
    
    #hero-section .container {
        padding: 32px 24px;
    }
    .toggler {
        display: block;
    }
    /* header css end */

    /* Hero section  */
    #hero-section h1 {
        font-size: 22px;
    }

    #hero-section p {
        font-size: 14px;
        line-height: 21px;
    }

    #hero-section form {
        margin-top: 32px;
        grid-template-columns: 1fr;
    }
    #hero-section form select {
        max-width: 100%;
    }
    /* Hero section end */
    /* popular-tours styles */
    #popular-tours .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    #popular-tours img {
        margin-top: 16px;
    }
    /* popular-tours styles end */

    /* Destination styles  */
    #destination .gallery .row:first-child,
    #destination .gallery .row:nth-child(2),
    #destination .gallery .row:last-child {
        grid-template-columns: 1fr;
    }

    #destination .gallery {
        grid-template-rows: 1fr;
    }
    
    /* Destination styles end */

    /* why choose us  */
    #why-choose-us .container.cards {
        grid-template-columns: 1fr;
    }
    /* why choose us end */

    /* Deals & Discount styles  */
    #deals-discount .deals {
        padding: 187px 16px 16px 16px;
    }
    #deals-discount .deals ul li {
        margin-right: 16px;
        margin-top: 16px;
    }

    #deals-discount .deals .wrapper {
        padding: 24px;
    }
    
    /* Deals & Discount styles end */

    /* Perfect place section  */
    #perfect-place .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    #perfect-place img {
        margin-top: 16px;
    }
    /* Perfect place section end */

    /* Newsletter section  */
    #newsletter .container {
        grid-template-columns: 1fr;
    }

    #newsletter .discount-tag {
        padding: 17px 28px;
        right: 4px;
        bottom: 45px;
    }

    #newsletter .discount-tag h3 {
        font-size: 16px;
    }
    
    #newsletter .discount-tag p {
        font-size: 16px;
    }
    /* Newsletter section end */

    /* footer styles  */
    footer {
        padding: 32px 0px;
    }

    footer .container:first-child p {
        padding: 16px 44px 0px 44px;
    }

    footer ul.social {
        margin-top: 16px;
    }

    footer .border {
        margin-top: 24px;
    }

    footer .container:last-child {
        padding-top: 24px;
    }
    /* footer styles end */
}