/* variable declaration  */
:root {
    --global-font: 'Mulish', sans-serif;
    --white-color: #fff;
    --black-color: #131318;
    --light-color: rgba(19, 19, 24, 0.70);
    --orange-color: #FF5400;
    --title-font-size: 40px;
}

/* Global css  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--global-font);
}

.text-center {
    text-align: center;
}

.text-white {
    color: var(--white-color)
}

.text-black {
    color: var(--black-color)
}

.text-light {
    color: var(--light-color)
}

.bg-orange {
    background-color: var(--orange-color)
}

.text-orange {
    color: var(--orange-color);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.text-title {
    font-size: var(--title-font-size);
    font-weight: 800;
    font-size: 40px;
    color: var(--black-color);
}

.radius {
    border-radius: 16px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-24 {
    margin-top: 24px;
}

.btn-orange {
    background-color: var(--orange-color);
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 35px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border: unset;
}

.btn-orange:hover {
    background-color: #ce5a21;
}

/* Header styles  */
header {
    padding: 50px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

 .logo a {
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
}

 .logo img {
    float: left;
    margin-right: 16px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul a {
    text-decoration: none;
    padding: 10px 22px;
    line-height: 44px;
    font-size: 18px;
}

header nav ul a:hover,
header nav ul a.active {
    color: var(--orange-color);
}

header nav ul li:last-child a {
    padding-right: 0px;
}
/* Header styles end */

/* Hero section styles  */
#hero-section .container {
    padding: 106px 185px;
    background: url(../resources/hero-bg.png) no-repeat center center/cover;
    position: relative;
}

#hero-section .container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    z-index: 1;
    border-radius: 16px;
}

#hero-section .wrapper {
    position: relative;
    z-index: 2;
}

#hero-section h1 {
    font-size: 64px;
    font-weight: 800;
}

#hero-section p {
    margin: 24px 0px;
    line-height: 26px;
}

#hero-section form {
    margin-top: 48px;
    padding: 16px;
    background: #ffffff52;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

#hero-section form input,
#hero-section form select {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    border: unset;
}

#hero-section form input:focus-visible,
#hero-section form select:focus-visible {
    outline: unset;
    box-shadow: unset;
}

#hero-section form button {
    border-radius: 8px;
    padding: 16px;
    border: 0px;
}

#hero-section form button span {
    margin-right: 6px;
}
/* Hero section styles end */

/* popular-tours styles  */
#popular-tours .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 53px;
}

#popular-tours ul {
    margin-left: 20px;
}

#popular-tours ul li {
    margin-top: 15px;
}

#popular-tours a {
    margin-top: 32px;
    display: inline-block;
}

#popular-tours img {
    float: right;
    width: 100%;
}
/* popular-tours styles end */

/* destination styles  */
#destination .gallery {
    margin-top: 48px;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-gap: 24px;
}

#destination .gallery .row div {
    position: relative;
}

#destination .gallery p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
    color: var(--white-color);
    transform: translate(-50%, -50%);
}

#destination .gallery .row:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

#destination .gallery .row:nth-child(2) {
    display: grid;
    grid-template-columns: 374px 474px 274px;
    grid-gap: 24px;
}

#destination .gallery .row:last-child {
    display: grid;
    grid-template-columns: 473px 673px;
    grid-gap: 24px;
}

#destination .gallery img {
    width: 100%;
    height: 100%;
}
/* destination styles end */


/* Why choose us  */
#why-choose-us .container.cards {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

#why-choose-us .container.cards .card {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
}

#why-choose-us .container.cards .card:nth-child(odd){
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
}

#why-choose-us .container.cards .card:nth-child(even){
    background: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
}

#why-choose-us .container.cards .card:last-child {

}

#why-choose-us .container.cards .card img {
    width: 64px;
    height: 64px;
}

#why-choose-us .container.cards .card h3 {
    margin-top: 32px;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 800;
}

#why-choose-us .container.cards .card p {
    margin-top: 16px;
    color: #5A5A5D;
    line-height: 26px;
}
/* Why choose us end */

/* Deals & Discount styles  */
#deals-discount .deals {
    margin-top: 24px;
    padding: 56px;
    border-radius: 16px;
}

#deals-discount .deals-1 {
    margin-top: 48px;
}

#deals-discount .deals.deals-1,
#deals-discount .deals.deals-3 {
    background: url(../resources/deals_1.png) no-repeat center center/cover;
}

#deals-discount .deals.deals-2 {
    background: url(../resources/deals_2.png) no-repeat center center/cover;
}

#deals-discount .deals .wrapper {
    padding: 50px 77px 50px 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 579px;
}

#deals-discount .deals-1,
#deals-discount .deals-3 {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: flex-end;
}

#deals-discount .deals ul {
    list-style: none;
}

#deals-discount .deals ul li {
    display: inline-block;
    margin-right: 24px;
    color: var(--light-color);
}

#deals-discount .deals ul li i {
    color: var(--orange-color);
    margin-right: 8px;
}

#deals-discount .deals h3 {
    margin-top: 24px;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 800;
}

#deals-discount .deals p {
    margin-top: 16px;
    color: var(--light-color);
    font-weight: 400;
    line-height: 26px;
}

#deals-discount .deals h2 {
    margin-top: 16px;
    color: var(--orange-color);
    font-size: 20px;
    font-weight: 800;
}

#deals-discount .deals a {
    margin-top: 24px;
}

/* Deals & Discount styles end */

/* Perfect place section  */
#perfect-place .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 53px;
}

#perfect-place ul {
    margin-left: 20px;
}

#perfect-place ul li {
    margin-top: 15px;
}

#perfect-place a {
    margin-top: 32px;
    display: inline-block;
}

#perfect-place img {
    float: right;
    width: 100%;
}

#perfect-place .video-wrapper {
    position: relative;
}

#perfect-place .video-wrapper h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
/* Perfect place section end */

/* Newsletter styles  */

#newsletter {
    margin-bottom: 100px;
}

#newsletter .container {
    display: grid;
    grid-template-columns: 474px 1fr;
    grid-gap: 24px;
}

#newsletter form {
    border-radius: 16px;
    border: 1px solid var(--orange-color);
    padding: 40px;
}

#newsletter form h3 {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 800;
}

#newsletter form p {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

#newsletter form .border {
    margin-top: 24px;
    margin-bottom: 24px;
    background: rgba(19, 19, 24, 0.10);
    height: 1px;
    width: 100%;
}

#newsletter form input {
    padding: 16px;
    border-radius: 8px;
    border: unset;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}

#newsletter form input {
    margin-bottom: 16px;
}

#newsletter form input:focus-visible {
    outline: unset;
    box-shadow: unset;
}

#newsletter form button {
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    border: 0px;
    background: var(--orange-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#newsletter .image-wrapper {
    position: relative;
}

#newsletter img {
    width: 100%;
}

#newsletter .discount-tag {
    background: var(--orange-color);
    padding: 32px 40px;
    display: inline-block;
    text-align: center;
    border-radius: 16px;
    position: absolute;
    right: 4px;
    bottom: 82px;
    transform: rotate(325deg);
}

#newsletter .discount-tag h3 {
    font-size: 24px;
    font-weight: 400;
}

#newsletter .discount-tag p {
    font-size: 32px;
    font-weight: 800;
}
/* Newsletter styles end */

/* Footer styles  */
footer {
    padding: 110px 0px;
    background: rgba(19, 19, 24, 0.10);
}

footer .container {
    text-align: center;
}

footer .logo {
    display: inline-block;
}

footer .container:first-child p {
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}

footer ul.social {
    list-style: none;
    margin-top: 32px;
}

footer ul.social li {
    display: inline-block;
    margin: 0px 8px;
}

footer ul.social li a {
    color: var(--black-color);
    font-size: 24px;
    padding: 5px;
}

footer .border {
    background: rgba(19, 19, 24, 0.10);
    height: 1px;
    margin-top: 50px;
}

footer .container:last-child {
    padding: 50px 0px 0px 0px;
}

footer .container:last-child p {
    color: var(--black-color);
    font-weight: 300;
}
/* Footer styles end */